* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background: #333;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.statbar {
  display: flex;
  width: 100%;
  height: 10%;
  background: #404040;
  background-image: -webkit-linear-gradient(top, #404040, #202020);
  background-image: -moz-linear-gradient(top, #404040, #202020);
  background-image: -ms-linear-gradient(top, #404040, #202020);
  background-image: -o-linear-gradient(top, #404040, #202020);
  background-image: linear-gradient(to bottom, #404040, #202020);
  color: white;
  font-family: arial;
  align-items: center;
  justify-content: center;
}

.score {
  display: flex;
  width: 37.5%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.score p {
  margin-left: 5%;
}

img {
  max-width:100%;
  max-height:100%;
}

.USA {
  display: flex;
  width: 30%;
  height: 35px;
  align-items: center;
  cursor: pointer;
}

.USSR {
  display: flex;
  width: 30%;
  height: 35px;
  align-items: center;
  cursor: pointer;
}

.China {
  display: flex;
  width: 30%;
  height: 35px;
  align-items: center;
  cursor: pointer;
}

.coldwar {
  display: flex;
  width: 20%;
  justify-content: center;
}

.ressource {
  display: flex;
  width: 37.5%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.ressource p {
  font-size: 20px;

}

.hideDef {
  display: none;
}

.sauvegarde {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #404040;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.sauvegarde:hover {
  background: #303030;
  text-decoration: none;
}

.telex {
  display: flex;
  width: 100%;
  height: 10%;
  background: #202020;
  background-image: -webkit-linear-gradient(top, #202020, #404040);
  background-image: -moz-linear-gradient(top, #202020, #404040);
  background-image: -ms-linear-gradient(top, #202020, #404040);
  background-image: -o-linear-gradient(top, #202020, #404040);
  background-image: linear-gradient(to bottom, #202020, #404040);
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #202020;
}

.carousel {
  display: flex;
  width: 95%;
  height: 70%;
  background: #303030;
  border: 3px solid #202020;
  border-radius: 5px;
}

.carte {
  width: 100%;
  height: 80%;
}

.date {
  position: absolute;
  z-index: 100;
  bottom: 72%;
  right: 30px;
  box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
  color: #fff;
  padding: 6px;
  border-radius: 4px;
  box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4);
  font: 20px 'Source Sans Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  cursor: default;
}

.carteBtn {
  position: absolute;
  height: 240px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 20px;
  left: 20px;
}

.btnA {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  background: #292929;
  box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
  text-align: center;
  box-sizing: content-box;
  cursor: pointer;
  line-height: 50px;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  color: #fff;
  font-family: 'Source Sans Pro';
  font-size: 25px;

}

.btnB {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  background: #292929;
  box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
  text-align: center;
  box-sizing: content-box;
  cursor: pointer;
  line-height: 50px;
  color: #fff;
  font-family: 'Source Sans Pro';
  font-size: 25px;

}

.btnC {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  background: #292929;
  box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
  text-align: center;
  box-sizing: content-box;
  cursor: pointer;
  line-height: 50px;
  color: #fff;
  font-family: 'Source Sans Pro';
  font-size: 25px;

}

.btnD {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  background: #292929;
  box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
  text-align: center;
  box-sizing: content-box;
  cursor: pointer;
  line-height: 50px;
  color: #fff;
  font-family: 'Source Sans Pro';
  font-size: 25px;

}

.nextTurn {
  position: absolute;
  width: 70px;
  height: 70px;
  z-index: 100;
  bottom: 30px;
  right: 30px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 50px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 50px;
  background: #404040;
  /*padding: 15px 20px 15px 20px;*/
  text-decoration: none;
  cursor: pointer;
}

.nextTurn:hover {
  background: #303030;
  text-decoration: none;
}


/* LEGENDE DES CARTES */

.jvectormap-legend-inner {
  margin-bottom: 3px;
}

.jvectormap-legend-cnt-h .jvectormap-legend-tick {
  width: auto;
  margin-right: 10px;
}

.jvectormap-legend-cnt-h .jvectormap-legend-tick-text {
  display: inline-block;
  vertical-align: middle;
  line-height: 13px;
}

.jvectormap-legend-cnt-h .jvectormap-legend-tick-sample {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
}













/*************************/
/*      Modal styles     */
/*************************/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1;  /* Sit on top */
    padding-top: 25px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #FFEFD5; #fefefe;
    
  /*background-image:url('background.png');*/
  background-size:cover ;
  background-attachment:fixed;
    
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

